[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
bs4 = "*"
gw2tpdb = {file = "../gw2tpdb"}
jupyterlab = "*"
plotly = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
